.chat
  position: relative
  background: #1a1a1a
  border-radius: 15px
  .dialog-img
    margin-right: 15px
  .chat-settings
    cursor: pointer
    position: absolute
    top: 10px
    right: 0

.chat-dialogs
  min-height: 30%

.message
  height: auto !important
  padding: 0 15px 15px 0
  p
    word-break: break-word
  .column
    width: 80%
    padding-top: 5px

.chat-input
  width: 90%
  margin: 0 auto
  position: fixed
  bottom: 10px
  left: 0
  right: 0
  .row
    margin-top: 10px
    gap: 20px
  input
    width: 100%
    border: none
    line-height: 44px
    background: #1a1a1a
    border-radius: 15px
    color: #fff
    padding: 0 10px
    font-size: 16px